.title-font{
    font-family: 'Oregano', cursive;
}
.body-font{
    font-family: 'Lato', sans-serif;
}
.blue-background{
    background-color: #4273A0;
}
.blue-font{
    color: #4273A0;
}
.green-background{
    background-color: #469056;
}
.hero { 
    /* display: flex; */
    height: 80vh;
    background: lightblue url("./imgs/hero_img.jpg") no-repeat center center; 
    background-size: cover;
}
.card{
    height: 625px;
    width: 29%;
    background: #FFFFFF;
    border: 2px solid #B4ACAC;
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.card-text{
    padding: 3px 15px 28px;
    margin: 14px 0 0;
    
}
.card-img{
    height: 55%;
    background: lightblue url("./imgs/baxter.jpg") no-repeat center center; 
    background-size: cover;
}
.text-7xl{
    font-size: 5.1rem;
}

/* Modal Styles */
.modal{
    box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25);
    width: 654px;
    max-width: 100%;
    border-radius: 25px;
    height: 434px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right-modal{
    width: 356px;
    height: 434px;
    background: #FFFFFF;
    border-radius: 0px 25px 25px 0px;
}
.modal-header{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #053A6A;
}
.modal-button{
    width: 199px;
    height: 54px;
    background: #5F906A;
    border-radius: 7px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}
.submitted-header{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #053A6A;
}
.modal p{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #053A6A;
    margin: 20px 0;
}
.close-btn{
    width: 199px;
    height: 54px;
    background: #D95D5D;
    border-radius: 7px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66,115,160, 0.35);
  z-index: 10;
}