.filter{
    width: 120px;
    text-align: center;
}
.filter:hover{
    background: #4273A0;
    border-radius: 25px;  
    color:white;
    cursor: pointer;
}
.selected{
    width: 120px;
    text-align: center;
    background: #4273A0;
    border-radius: 25px;
    color:white;
    cursor: pointer;
}
.input-border{
    border: 1px solid #A3A3A3;
}